@mixin button-styles {
  font-size: 1rem;
  padding: 10px;
}

.button-primary {
  @include button-styles;
  background-color: blue;
  color: white;
}

.button-secondary {
  @include button-styles;
  background-color: red;
}
